body {
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
}

.hidden {
    display: none;
}

#oglcanvas {
    /* width: 80%;
    height: 80%; */
    width: 100vw;
    height: 100vh;
    display: block;
    border: none;
}

#overlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #f00;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}